<html>
    <body>
        <form method="post">
            Enter Email     : <input type="text" placeholder="Enter Your Email" name="user_email" required=''></br>
            Enter Password  : <input type="text" placeholder="Enter Your Password" name="user_password" required=''></br>
                            <input type="submit">      
        </form>
    </body>
</html>